/*** font ***/
.small {
  font-size: 85%;
}

.big {
  font-size: 200%;
}

/*** el-row ***/
.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}

/*** form ***/
.content-box .el-form .el-form-item__label {
  font-size: 12px;
}

/*** breadcrumb ***/
.breadcrumb {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffffff;
}

.breadcrumb .el-breadcrumb__item:last-child .el-breadcrumb__inner {
  color: #409eff;
}

/*** content-box ***/
.content-box {
  padding: 15px;
  background-color: #ffffff;
}

/*** list ***/
.list .list-heading {
  margin-bottom: 15px;
}

.list .list-body .el-table .el-button {
  margin-right: 10px;
}

.list .list-footer {
  padding: 10px 15px 0 15px;
}

.list .list-footer .el-pagination {
  float: right;
}

/*** detail-info-list ***/
.detail-info-list {
  padding-left: 70px;
}

.detail-info-list li {
  margin-bottom: 15px;
}

.detail-info-list li:last-child {
  margin-bottom: 0
}

.detail-info-list li label {
  width: 80px;
  display: inline-block;
}

.detail-info-list li span {
  display: inline-block;
  color: #666666;
}

.detail-info-footer {
  padding: 15px 0 0 150px;
}

/*** clearfix ***/
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}